<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>sum</string>
		</dict>
		<dict>
			<key>name</key>
			<string>prod</string>
		</dict>
		<dict>
			<key>name</key>
			<string>coprod</string>
		</dict>
		<dict>
			<key>name</key>
			<string>partial</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delta</string>
			<key>resourceName</key>
			<string>delta-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nabla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqrt</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\sqrt[3]</string>
			<key>name</key>
			<string>sqrt3</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>int</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oint</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iint</string>
			<key>requires</key>
			<string>amsmath</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iiint</string>
			<key>requires</key>
			<string>amsmath</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigcup</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigcap</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigvee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigwedge</string>
		</dict>
		<dict>
			<key>name</key>
			<string>neg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>forall</string>
		</dict>
		<dict>
			<key>name</key>
			<string>exists</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nexists</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>langle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rangle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>norm</string>
			<key>latexCode</key>
			<string>\|</string>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>operators</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
