<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>latexCode</key>
			<string>\geq</string>
			<key>name</key>
			<string>subgroup</string>
			<key>resourceName</key>
			<string>subgroup</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\leq</string>
			<key>name</key>
			<string>supgroup</string>
			<key>resourceName</key>
			<string>supgroup</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\trianglelefteq</string>
			<key>name</key>
			<string>supnormgroup</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>supnormgroup</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\trianglerighteq</string>
			<key>name</key>
			<string>subnormgroup</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>subnormgroup</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\supset</string>
			<key>name</key>
			<string>supset</string>
			<key>resourceName</key>
			<string>supset</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\subset</string>
			<key>name</key>
			<string>subset</string>
			<key>resourceName</key>
			<string>subset</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\subseteq</string>
			<key>name</key>
			<string>subseteq</string>
			<key>resourceName</key>
			<string>subseteq</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\supseteq</string>
			<key>name</key>
			<string>supseteq</string>
			<key>resourceName</key>
			<string>supseteq</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\emptyset</string>
			<key>name</key>
			<string>emptyset</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>emptyset</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string>\varnothing</string>
			<key>name</key>
			<string>varnothing</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>varnothing</string>
		</dict>
	</array>
	<key>author</key>
	<string>Matthew Hutton, Pierre Chatelier</string>
	<key>name</key>
	<string>groups-and-sets</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
