<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>latexpalette</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>latexit-latex-palette.icns</string>
			<key>CFBundleTypeName</key>
			<string>LatexPalette</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>tex</string>
				<string>tiff</string>
				<string>tif</string>
				<string>png</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>html</string>
				<string>svg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MyDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>library</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LEELibraryType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>latexhist</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>latexit-lib.icns</string>
			<key>CFBundleTypeName</key>
			<string>HistoryType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>latexlib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>latexit-lib.icns</string>
			<key>CFBundleTypeName</key>
			<string>LibraryType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plist</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>latexit-lib.icns</string>
			<key>CFBundleTypeName</key>
			<string>LibraryType2</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>latexitplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>latexit-plugin-icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LaTeXiTPlugin</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>latexit.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.13.3</string>
	<key>CFBundleSignature</key>
	<string>LTXt</string>
	<key>CFBundleVersion</key>
	<string>2.13.3</string>
	<key>LinkBackApplicationURL</key>
	<string>https://pierre.chachatelier.fr/latexit/index.php</string>
	<key>LinkBackServer</key>
	<string>LaTeXiT</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Maths display</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationDisplay</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_DISPLAY</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Maths display and put result into clipboard</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationDisplayAndPutIntoClipBoard</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_DISPLAY_CLIPBOARD</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Maths inline</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationInline</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_INLINE</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Maths inline and put result into clipboard</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationInlineAndPutIntoClipBoard</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_INLINE_CLIPBOARD</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Text</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationText</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_TEXT</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Text and put result into clipboard</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationTextAndPutIntoClipBoard</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_TEXT_CLIPBOARD</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Maths align</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationAlign</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_ALIGN</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Typeset LaTeX Maths align and put result into clipboard</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceLatexisationAlignAndPutIntoClipBoard</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPostScriptPboardType</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>NSPasteboardTypeTIFF</string>
				<string>NSTIFFPboardType</string>
				<string>public.tiff</string>
				<string>NSPNGPboardType</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeString</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_ALIGN_CLIPBOARD</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Detect and typeset equations</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceMultiLatexisation</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_MULTIPLE</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Detect and typeset equations and put result into clipboard</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceMultiLatexisationAndPutIntoClipBoard</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_MULTIPLE_CLIPBOARD</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>whenEnabled</key>
				<string></string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>LaTeXiT/Un-latexize the equations</string>
			</dict>
			<key>NSMessage</key>
			<string>serviceDeLatexisation</string>
			<key>NSPortName</key>
			<string>LaTeXiT</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
				<string>NSPasteboardTypeRTF</string>
				<string>NSRTFPboardType</string>
				<string>public.rtf</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSPasteboardTypeRTFD</string>
				<string>NSRTFDPboardType</string>
				<string>com.apple.flat-rtfd</string>
				<string>NSPasteboardTypePDF</string>
				<string>NSPDFPboardType</string>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSServiceDescription</key>
			<string>SERVICE_DESCRIPTION_DELATEXISATION</string>
			<key>NSTimeOut</key>
			<string>30000</string>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://pierre.chachatelier.fr/latexit/downloads/latexit-sparkle-en.rss</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_sparkle_latexit_pub.pem</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.tex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-tex</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
