<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>overleftarrow</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>overrightarrow</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>underleftarrow</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
			<key>requires</key>
			<string>amsmath</string>
		</dict>
		<dict>
			<key>name</key>
			<string>underrightarrow</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
			<key>requires</key>
			<string>amsmath</string>
		</dict>
		<dict>
			<key>name</key>
			<string>vec</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>hat</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>widehat</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>tilde</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>widetilde</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bar</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>dot</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ddot</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>overbrace</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>underbrace</string>
                        <key>numberOfArguments</key>
                        <integer>1</integer>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>decorations</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
