<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>mathbb{N}</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>n-mathbb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mathbb{Z}</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>z-mathbb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mathbb{Q}</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>q-mathbb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mathbb{P}</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>p-mathbb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mathbb{R}</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>r-mathbb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mathbb{H}</string>
			<key>requires</key>
			<string>amssymb</string>
			<key>resourceName</key>
			<string>h-mathbb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Re</string>
			<key>resourceName</key>
			<string>re</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Im</string>
			<key>resourceName</key>
			<string>im</string>
		</dict>
		<dict>
			<key>name</key>
			<string>hbar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>imath</string>
		</dict>
		<dict>
			<key>name</key>
			<string>jmath</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ell</string>
		</dict>
		<dict>
			<key>name</key>
			<string>aleph</string>
		</dict>
		<dict>
			<key>name</key>
			<string>infty</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delta</string>
			<key>resourceName</key>
			<string>delta-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nabla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>emptyset</string>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>letters</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
