<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>alpha</string>
		</dict>
		<dict>
			<key>name</key>
			<string>beta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gamma</string>
		</dict>
		<dict>
			<key>name</key>
			<string>delta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>epsilon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>zeta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>theta</string>
		</dict>
		<dict>
			<key>name</key>
			<string>iota</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kappa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lambda</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nu</string>
		</dict>
		<dict>
			<key>name</key>
			<string>xi</string>
		</dict>
		<dict>
			<key>latexCode</key>
			<string> o</string>
			<key>name</key>
			<string>o</string>
		</dict>
		<dict>
			<key>name</key>
			<string>pi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rho</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sigma</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tau</string>
		</dict>
		<dict>
			<key>name</key>
			<string>upsilon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>varphi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>chi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>psi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>omega</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gamma</string>
			<key>resourceName</key>
			<string>gamma-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Delta</string>
			<key>resourceName</key>
			<string>delta-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Theta</string>
			<key>resourceName</key>
			<string>theta-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lambda</string>
			<key>resourceName</key>
			<string>lambda-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pi</string>
			<key>resourceName</key>
			<string>pi-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sigma</string>
			<key>resourceName</key>
			<string>sigma-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xi</string>
			<key>resourceName</key>
			<string>xi-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Upsilon</string>
			<key>resourceName</key>
			<string>upsilon-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>phi</string>
			<key>resourceName</key>
			<string>phi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Phi</string>
			<key>resourceName</key>
			<string>phi-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Psi</string>
			<key>resourceName</key>
			<string>psi-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Omega</string>
			<key>resourceName</key>
			<string>omega-big</string>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>greek</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
