<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shortcuts</key>
	<array>
		<dict>
			<key>input</key>
			<string>ö</string>
			<key>left</key>
			<string>\</string>
			<key>right</key>
			<string></string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>input</key>
			<string>ü</string>
			<key>left</key>
			<string>{</string>
			<key>right</key>
			<string>}</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>input</key>
			<string>ß</string>
			<key>left</key>
			<string>\begin{eqnarray}</string>
			<key>right</key>
			<string>\end{eqnarray}</string>
			<key>enabled</key>
			<false/>
		</dict>
	</array>
	<key>version</key>
	<string>2.5.2</string>
</dict>
</plist>
