<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleExecutable</key>
	<string>LaTeXiT Helper</string>
	<key>CFBundleIconFile</key>
	<string>latexit.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)fr.club.ktd.LaTeXiT</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>v 2.13.5 (2019)
-The 2.13.* series will be the last one to support MacOS 10.6/10.7/10.8. The MacOS 10.9+ compatibility and application notarization will be available starting from LaTeXiT 2.14.0. The 2.13.* series will still be maintained as long as possible for minor fixes;
-equation colors were not restored correctly according to the screen color profile.
2.13.5</string>
	<key>CFBundleSignature</key>
	<string>LTXt</string>
	<key>CFBundleVersion</key>
	<string>2.13.5</string>
	<key>LSUIElement</key>
	<true/>
	<key>LinkBackApplicationURL</key>
	<string>https://pierre.chachatelier.fr/latexit/index.php</string>
	<key>LinkBackServer</key>
	<string>LaTeXiT</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
