<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>leftarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>uparrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rightarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>downarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nwarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nearrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>searrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>swarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>leftharpoonup</string>
		</dict>
		<dict>
			<key>name</key>
			<string>leftharpoondown</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rightharpoonup</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rightharpoondown</string>
		</dict>
		<dict>
			<key>name</key>
			<string>hookleftarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>hookrightarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>looparrowleft</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>looparrowright</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mapsto</string>
		</dict>
		<dict>
			<key>name</key>
			<string>longmapsto</string>
		</dict>
		<dict>
			<key>name</key>
			<string>leftrightarrow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rightleftarrows</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leftarrow</string>
			<key>resourceName</key>
			<string>leftarrow-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rightarrow</string>
			<key>resourceName</key>
			<string>rightarrow-big</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leftrightarrow</string>
			<key>resourceName</key>
			<string>leftrightarrow-big</string>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>arrows</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
