<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>3</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>129.12</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>CanvasColor</key>
	<dict>
		<key>b</key>
		<string>1</string>
		<key>g</key>
		<string>1</string>
		<key>r</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2007-07-20 18:22:12 +0200</string>
	<key>Creator</key>
	<string>Mael Hilléreau</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{245.727, 382.246}, {24.8043, 6.20107}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>456</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Fuzziness</key>
							<real>4.1606760025024414</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{245.727, 382.247}, {24.8043, 6.20107}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>457</integer>
					<key>Rotation</key>
					<real>90</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Fuzziness</key>
							<real>4.1606760025024414</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{245.727, 382.247}, {24.8043, 6.20107}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>458</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Fuzziness</key>
							<real>4.1606760025024414</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>455</integer>
			<key>Layer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{293.006, 351.697}, {66.2902, 69.3033}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>464</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.75, 315.875}, {181, 140}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>440</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>2</integer>
			<key>ManualSizeImage</key>
			<string>YES</string>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{240.144, 360.028}, {35.9725, 35.9724}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>507</integer>
			<key>Layer</key>
			<integer>3</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientCenter</key>
					<string>{0, 0.285714}</string>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.11</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>a</key>
						<string>0.08</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.81746029853820801</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Fuzziness</key>
					<real>1.5422108173370361</real>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.1</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{241.692, 360.802}, {32.8762, 32.8762}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>462</integer>
			<key>Layer</key>
			<integer>3</integer>
			<key>Rotation</key>
			<real>180</real>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientCenter</key>
					<string>{0, 0.285714}</string>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.658730149269104</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Fuzziness</key>
					<real>1.5422108173370361</real>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.1</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{230.978, 358.197}, {54.3016, 54.3027}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Clip</string>
			<key>Flow</key>
			<string>Clip</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>461</integer>
			<key>Layer</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>FillType</key>
					<integer>3</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientCenter</key>
					<string>{0, -0.533333}</string>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0</string>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>a</key>
						<string>0.35</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.67460322380065918</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Fuzziness</key>
					<real>12.533585548400879</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{230.978, 358.196}, {54.3016, 54.3027}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Clip</string>
			<key>Flow</key>
			<string>Clip</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>441</integer>
			<key>Layer</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.00749802</string>
						<key>g</key>
						<string>0.923469</string>
						<key>r</key>
						<string>0.613159</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>270</real>
					<key>GradientCenter</key>
					<string>{0, 0.304762}</string>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.0101406</string>
						<key>g</key>
						<string>0.576531</string>
						<key>r</key>
						<string>0.00196063</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.206471</string>
						<key>g</key>
						<string>0.969388</string>
						<key>r</key>
						<string>0.421928</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.32539671659469604</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.29</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>13.994791030883789</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict>
			<key>ApplicationURL</key>
			<string>http://ktd.club.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0
			b3BYJG9iamVjdHNfEA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRy
			b290gAGvEC8LDBIqKyw0NTpFRkdITlNZaGxvcnV4e36BhIeKjZCT
			lZ2eoKOtsrW5vcDExc3R1FUkbnVsbNINDg8RWk5TLm9iamVjdHNW
			JGNsYXNzoRCAAoAd3BMUFRYXGBkaGw4cHR4fIB8iIyQlJicoKVVj
			b2xvcl8QD2JhY2tncm91bmRDb2xvcllwb2ludFNpemVVdGl0bGVY
			YmFzZWxpbmVUbW9kZVd2ZXJzaW9uWHByZWFtYmxlV3BkZkRhdGFa
			c291cmNlVGV4dFRkYXRlgCSAACNAUgAAAAAAAIAAI0AAAAAAAAAA
			EAKAA4AFgASALoApgCxWMS4xNC4zTxFMVCVQREYtMS4zCiXE5fLl
			66fzoNDExgoyIDAgb2JqCjw8IC9MZW5ndGggNCAwIFIgL0ZpbHRl
			ciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFtCnjaK1QIVCgEY323XEMF
			l3yFQAAxtATtCmVuZHN0cmVhbQplbmRvYmoKNCAwIG9iagoyMwpl
			bmRvYmoKMSAwIG9iago8PCAvVHlwZSAvUGFnZSAvUGFyZW50IDcg
			MCBSIC9SZXNvdXJjZXMgMyAwIFIgL0NvbnRlbnRzIDIgMCBSIC9N
			ZWRpYUJveApbMCAwIDE4MC42NjIgMTM5LjQ2OF0gPj4KZW5kb2Jq
			CjMgMCBvYmoKPDwgL1Byb2NTZXQgWyAvUERGIF0gL1hPYmplY3Qg
			PDwgL0ZtMSA1IDAgUiA+PiA+PgplbmRvYmoKNSAwIG9iago8PCAv
			TGVuZ3RoIDggMCBSIC9UeXBlIC9YT2JqZWN0IC9TdWJ0eXBlIC9G
			b3JtIC9Gb3JtVHlwZSAxIC9CQm94IFswIDAgMTgwLjY2MiAxMzku
			NDY4XQovUmVzb3VyY2VzIDYgMCBSIC9GaWx0ZXIgL0ZsYXRlRGVj
			b2RlID4+CnN0cmVhbQp42qWSPU8DMQyG9/yKdyxDXdv59AioTCyV
			IsF+AgmkIh33/yXSK7RwcFTQZImj2E8eJz026LFUESYJWbEMKXiS
			JAkhcCJvZoiZdb96fcAdXrC6HgTdAB7n0KF3mcR2o4xbx+jn2t0W
			VxVGljR+5Bwip6ZUAlLMpD5yRN1idSPEENRHLG4vUJ+xruPlT4Pd
			N3Aiyz6b5THnGKlFCoVZGttIc+GyZ+s72y0u/8b+Rdp9kW5so5Ly
			vHWdJbuz2g3PzXp0jsQmnNyEvP63sztBbhnm07zz/YHszuz25It5
			ZmpHd9YhkrY391P206eGb94A+RWnRwplbmRzdHJlYW0KZW5kb2Jq
			CjggMCBvYmoKMjQyCmVuZG9iago2IDAgb2JqCjw8IC9Qcm9jU2V0
			IFsgL1BERiAvVGV4dCBdIC9Db2xvclNwYWNlIDw8IC9DczEgOSAw
			IFIgPj4gL0ZvbnQgPDwgL0YxLjAKMTAgMCBSIC9GMi4wIDExIDAg
			UiA+PiA+PgplbmRvYmoKMTIgMCBvYmoKPDwgL0xlbmd0aCAxMyAw
			IFIgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0ZpbHRlciAv
			RmxhdGVEZWNvZGUgPj4Kc3RyZWFtCnjafZJPSBRRHMe/syVCrAVl
			JlLwTrYHVwbtYB2M3fVvyrasa6YIss6+2R2dnZ3ezG4lHkKILkHW
			MbpY0Uk6hgcPHQIPEYJiXSLoKBkEgpeQ7Tczu+6I2oM37zO//7/f
			e0BdKG2aeoABecMWyf4ouzs+weo3UIcGBEErrVhmJJEYdplscWTt
			fYXknJvh4/X/XQ2CEgISVYDGrMfXHJ72eMDh+7ZpE086rOTSGWKT
			uE2kkjHiV8Rnsz6e9nGGWwrxMvFNxRQUJ5AiHigpWSfmDrFsZDSD
			5JeJuzKWkicm38BTZxZemfYQ0H0FOPW5JpuwgOV3wKXWmizUDFwc
			A1Y6a7LdpDsfqWndUjs7XJEUjAJ1P8rl3Vag/gWw/7xc/vu6XN5/
			Qzm+Ax91pShKlRlJ0hfA68Ndjf3c4EJTmHNfCVFQNZ37Rnq82uvX
			i0f1Jat0EnszcVcXsET3MHYGGHoMvPwJXH0PXPgAJBqA1HUEHqG6
			bf7AzRMrmA+Fls3ZrEOWO1jYOTpZhF4IZ7FC3izaXLBBQ2lvY2ld
			Z66pxQS3uCjxTDvyerHa7znaQW6MjtBJ8wqo3OqtsDSTSffQ3aCd
			eCPDe3qdd0G8qGp9g86F0P6kir5Rj6Xzmj2Y8jjQbejx4QrDKMRv
			ezGxY9rRZDW+VRrprcpn0rcSdLaQ/MZsYcixaSLf0FwuNeaxlJrL
			xeIVXsU4dHBoMOhrgCGJfkQRhgmBAlTSaGShkZS7NoLYwuyxljoS
			Pmak3yafbdfnHork7XjdQTSOhbaDCEz+Jv+Wt+Ql+a38a7GlGKpp
			FsSUpqw/+0NxnczVuBVtpSYvvkJ5I6TVkSVp/qAny1eprzrVWGyp
			RXJy8CfxPV+X3JcpjGk30qybqeTqLPpGfNlOmh7Zrs2vNtdybZ1e
			mdwMrs0fmlXhSFf8oKvD/zU7vz//B82wAWgKZW5kc3RyZWFtCmVu
			ZG9iagoxMyAwIG9iago3MDYKZW5kb2JqCjkgMCBvYmoKWyAvSUND
			QmFzZWQgMTIgMCBSIF0KZW5kb2JqCjcgMCBvYmoKPDwgL1R5cGUg
			L1BhZ2VzIC9NZWRpYUJveCBbMCAwIDYxMiA3OTJdIC9Db3VudCAx
			IC9LaWRzIFsgMSAwIFIgXSA+PgplbmRvYmoKMTQgMCBvYmoKPDwg
			L1R5cGUgL0NhdGFsb2cgL1BhZ2VzIDcgMCBSID4+CmVuZG9iagox
			OCAwIG9iago8PCAvTGVuZ3RoIDE5IDAgUiAvTGVuZ3RoMSAxNSAw
			IFIgL0xlbmd0aDIgMTYgMCBSIC9MZW5ndGgzIDE3IDAgUiAvRmls
			dGVyCi9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeNrtdHVUlP3WNt1D
			h5QM0j00A+IAQ5c0UsoAQzPAMCDdSAuSClLSJQiCdHfL0JIiIV0i
			Jbyc55zzfOs77/r++v5713vfa93rd+1r731fO9aPg1XZFYEy8HGD
			CwsIC4KkgQqmpsZa+nxQLT1hEPDeAlIAcHBAkXAYysEVoQhDwaWB
			kkIiICGQJIADCHV180E62NmjgKUiIJAoUN7NzRl+b3Vx80TBkfxA
			NYS1IBCGsAE6oDyAzg7WcISHK9KDHwhzdgb+FecBRMI94EgvuI0g
			QFgYaONgjQJawe0cEAChf+hSQ9i6AsH/NNt4uv2b8oIjPe7VALn/
			0sdznwNm44pw9gHawG3vAz2dnbVhLnAg919F/Dca5uLg7PMvh38p
			BWq52sCRiP90NYb/VRu3PgLmpm/vivpP3sFD2cEbbqPjgLK2B9rC
			nD3g/7QbIu6zOTsg4DquHg7/6BsQ9B+Egb2DtRMC7uHxLwZ+36P/
			kHlf/l8ihf6vifzF6cAc/jmzf+f99wyBwv8Ha8FQSAdvoBnovkf3
			gX+9fx8t/uNvSghrVxsHhB1QRFwCCEMiYT73XsL3SBzoJwx0uJft
			DYR731cpJIhwRd2HAO/7FgC0dUUC/jEXYaCQ0j8sfwERoJDm30AU
			KGTwNxADCj37G4gDhRz+Av+9bgUFV2+gn4CIuDDw/nMvBAQCA8ES
			4ID/l2p91P2SwZA2fxvuaSJrTyQSjkD9tTz3/QX8C9s63K8oHO4N
			twbMz7hay4Q7vs18h6qmy+kbUXzWrNmYLUHgxu8dymZXdpFo8irB
			+lIE34bIaXqBVSWa6r3aQ6x8v9NXrjw22zOJU/E5zurPu9gMLyjF
			PULYw1ad0mK2NV4AS0NzN41tPMVp08vjELly4uaGCifps/lV3OXJ
			O/juq9Mu7Ri/h97/vM7pWt2rBuBM/zo90XjrZ+BihUpnUAk4oOxR
			ZusMbvn2gQJp5UXe42Er8rXA4YmP+3uZHtlfoviJhQKjmmeGFV1U
			5596mtjf+HyTwOIwCoEZ8tLaC0pL4LR3ZxkzsiQ8kDQ7ZGI7Fkjp
			jD3Kx/1DE32ahqAohw3MF60XjE3/1GuTtCLkvr6dMeZpja+nYMAw
			ck5CLAEi7FspB8VD026qw1sKUywjXenPpL8EpMX1DKgE2RXUBjU1
			iiH5Wzw+FosB1V+oa+wj9/dLJxYHwCLVS3OnwebOjcEf+13gNJoU
			G2+oQ6lIH0ZBXRLdHlcsHqcYRmEoYFl8IqyuYd/SlQjFYdNYpdIu
			Mml5pqR8XkpevjVMvqmIvw0JVhJ+hHqzSAvmCvBhIQ2DssTyXyU6
			zX3co8UHMIZh1ZiFkELk9eECSfBzmVxc6RP5cr1nNmTDhhfn8vHl
			k9+vItInebAnxFgVRbLWjFNbR6hLGdaTCU5AX80/vTy4e25ut1F3
			uNg8dOAn036TZcU8G8Gg6tsAPlmsykoPG+N/FcHMjp07UJDrpakw
			dMtKilN0zIAJ0fsBh5Ku+spkDD+fYXIfDBE6thB1WQoRPfpJLdrn
			1auicMKRZp5j8XEZHv+MUjpa0jb/sM3hGttcs9bdZOampyGRtQeL
			hm3XK7LqmuGMwAiC87HsKxVLzk2cLpmDcALzNmKQvHPnTxx1VupE
			5hTF1PeGoJ0SmRMfZkHW9eGYVrP1TJO94y2XT3w4c7GlN+qKc3sx
			Xtavj0sjDX9RmVPz4RzV0sp+yERWorRnfWOiqeZnDPY41EohHcdW
			OFN0zsxbKyBqRusqquOWb5IhzJDPoMmvuOQp8Lrhl7YoY56J7mh9
			mhSCFzIFJHhtFuwkLwkGEkmG769Qo8Iqwyf1gxa3Ne/n+VMeR/Pb
			PpDGovFkBiojmZJFxxWb1kFgqvIRX1fX04XLvOPt6bCnkic7PVbp
			G4HvZIir0q1geUj8btNXCaq65Mr11qW4cT3fiv+85i5KzYn/RkHs
			XaaOKmu4q/fSyOsOP+tf3RIzjd7rTtZeqVbHHljgN5sJSMzFA4VZ
			a3Gj3UZA+5e0WbyqzMEaRCE27UNZ5wlQtKmkv8RbdubZOto+m2KN
			tohb8zXWIbVn7pbVRqaJAcK1uwwghDrZ0q8Et2KxMK7rqQ1nCZRf
			QvmxcQ3T3KTBd15B2ZsZxVArXQJnbYl+O2fy2eHIw2PUa0FurQg5
			7kbEzW43ZROYm4F7TEz42tIHUPeCCW7aLnBiZBnTFr3JqdXvg2Lc
			1w+chEaYcKyM+tFVMksAw805l0uSiWZ1ZHLyF9lYhY+rmw38VjEm
			9QjRQi95VsTbg8ekrPrO+vw1J74JMFnVFLmFsJJxsx1c9ww7WHCw
			9s5r+HDS8xBhPSKq7xfDVKT5RcMHXR0SfHIqmZJUUtCqFr+QGFI0
			yoHJQIiU+3TJ1n6BQaujK5kYYmoZ0df6po6ZkdXluChsv6GplZwz
			weTFVGy5jnvzV4QifNlGqpcQ27YpR8Cxiv8pLBlpAyCCvjL5drs2
			CjeKag4FU8LkqNFYHDejRDsyELKj1pDFm2AKxUZviZHToYyJXpoW
			WUnvBc6XKtPET/B9RzA05tI9ZPIuf/BWhrMlcVPV3GndzJTxKKlT
			vSWdnxYBql1JMPIEHpcxDUx6OD3NXKTVoP/zzd2EnQ3b4BBLWc04
			3+SFd22N/GFSqKqM/anvWbfU0JcZU2xCLO27wiw2+nHRASJz7+Yq
			4lnceSH/6ptLy09T4ctWHnXsPpmf+1cKs1t4y7V9HhaJePDx0RGF
			ia41az1ovXLUUSKq0xlPYnV5jeRxl1gocg2LBKdWFn58WbEHJfR6
			7a2SDAWtpq8wqHdwUSvf8mEvCoYNHnyugMBl25IyiTpI7l7rzPif
			4gLmkMlOVKJ+KSfJ9PQUUZjUeN1N3hwtW1LgB88L4a5+DZipEAxn
			mV8sYuWhiXgVqQGPhLvfNox10uYRdAiM0T4UmXL8AWKAvn20N18r
			vasX3P0mdomTKirpLCtXc2nXr/bzjpDy1KMmHcjyS4J+wAjFWRt4
			E8EQQ/uJ2ZFo5R3mEgZqJTDe9xRtcad4FmtOWufxucWmaYfU8s3z
			HsbnBjeKDYy7oFaMtwBBfNf9QAyvzsJz5NuJ9XGqIum9cdt8T1XD
			PWb/gGA2KshHmtMXmOkD6Oe6u8/UPuXelnCbqzAefH4wMAIoWFbf
			PvsGht5dqXaGqormuBDMUungfsY9lOstARQqdIaRVRyhVTg3Yr82
			8Ku7SnWYhGd/cLq01xAKjLvM53hSFKtYEIjULS4qs9Jufz6PV3Oo
			pfnhKVcjDusaQ+sS5ruz4GE84OfvZMu0vTELkOIKvafl/aOmChLv
			SPS0Pn0pV5PokdAFNywaoIbjDvJYA4rn65t+jl6J67S301D6U8WT
			X3ktXoWVAScef7zK/CD9HJzJJGpwRMB9U6ogk1DCt3SSm40BR/PQ
			6IZy9wuzULmA5KYf1FtWO5OLaIfBWMw5JqA6a+bTli8ZPfDdjUkm
			H7GOu4TFxYOuDXLsxz+QPP6m8nCGKrq4Dce/C+S9yzI3Qmzvm7/P
			/lbpx4gTs+2WVoA4KRlRlUWMrONyV98lyPTp/pYVumZWubCG9ZwH
			iHspXu7C6Oi1+YaPBOmuNrJnge7vl/SARIrGUIgSnWlQdT2wrQ41
			XzyS4DN700tsKLG/hReTkvQK86L5JMtTeOOGow4zjPiKWHTdMzXv
			fGLYmHDpU025NWbncULomur+yaux4cciz/sT5jZmCGAJ0p+w3tVE
			+v0BK3zfcjOixrqBNfmK1ywwlU3lakS+c49pKGaorVVgp4WUXoso
			eAddaO/5dFuqTgHcBIhKGhs1YRRaRBVpEHwmcQ8i671OcRen5WrQ
			3m77CcNkQG5/6gDHjI1/ZjuTj/exk5v6Nnbzcqr0976NRjAVl/IE
			CU4H7ZvYa+aHGKZKhB7UCKrb912xTqU6RMSreYjtzaOXIp5J67Ts
			t6dYS4mps58J6ccNLy56sedNYHXEs0gceijLuY3a56xYNJe44zuH
			/uhLuc7EALzd69K0KQBc27kW0pVOwwLdv1WheVFf/LyqIQptkdH3
			ZWYZUljnyGIw+bMzw8a3Z8hJY/1gZmAeoGf+KMIFZ9O0fziToTFs
			Lf3BDoYyWzspL+NHeKiTbeDzt61roUKHX4TPS7oukt19VZSM22pH
			NH6ixP31hXXFZlggfmZXL4jyed+DdV0KYWu5Jefm+1UqNYKJ4JOb
			ZFpx01jfYoIyM6ZOqnqyE36GY+O4T0ksTE5BG0/KsN9fRuNFpzTu
			FJqUkng9MY/ifMMUuCBrDRmxMVm0zRh8LgEXDZwIavxKJFkuPTi6
			w+kZ7ZIv5XJ7RLm0f3ne3Gia+0Zt71rW8Yjt9CHNroCvegaSyDbA
			2r1boksfBut9wh31XePE3hCvklO28s6Cj+NC7Cv77OPK5xEEXusp
			mtKwB5ZZ7wWHdtOKuIBNynQjEWQh7uPhYj/JKs8CfEjTPXbDo+y6
			xZd98FnIvk7LQt3umgcHn8q8EPe2d4tbnxhle53mbn01zntA8Ttf
			ncvEjKhjWb3Fb8d5HkZzvr8HVvDAS11xrAPPcy51GR1szL9UibVF
			3S5QXffsebEev6MqxjwLkvgionJiMHVrDSSWJxwV5iQ1EP7tQNMF
			laAuGhB5r+tJxiH0tTrZMfmdUGPz+l3nN06FJYLvBsGgLk51jxvx
			IrKBJU4Cs3gO3PzSrFy88f4EfEf6QJfHfy6F6jk9VfqIfc7Ymm8U
			nboGKqq/ylKlXAlcemKHMwTxL1e6KR90zlOTAxhac6xpTlZx7XHF
			lGnImdgjb0Me6b+Vjzx8cM71Zpwc0g08VHibOfbZw109iLdiSp8R
			hL9ex/sM2pcz+xAUBEOnsERK5upSllE66Xi4+R+nR8YvnGURwfOH
			TLlJyrdkmgwkinTuuGXifUkdM4ziwvOXUHZTBlcR1zq+qZK9XfMU
			Cvg7dVJEStBs7KyQsMQfYgGM/OY5GTdBJGTDb3X7Pvmts0tkJ2Fd
			GNIMiD6Evjbt4pEq6nExy8BpVrCgMVThdTGXoGrY3DGd8gxU8EKn
			eRsGdWYp/iTu62C/CT7rmMSiCW2Y0iYYA1WZskBeeEPIOMToPPS5
			UCEk/LaLJhm4Q8gmQ9mgXA35jBEG5Tsm3pJwvb3QOVxi9+L3+Qo8
			tQmBrvwlrNR32YCq14JLlAeheyexnmggvKu1ob0OwjOt0kNjx5xS
			W5H2rmLjDO4nKlrasFCTYORJCKqLTc2gD4MCMmXidadersrDs3tO
			X70sWX2b+KxDQUQmbIC1dOdmhmeXqHfS8sdc5Ejng21cCVdOVvTF
			yHs2x2EKalvneQ/hUAOuCZJsP30G6ghTo1JgT9sXG2OZA02lO0LL
			4vH61mlX3tkOti+K/ovnDhLamdaKP+kXFRl1l1GoAOqMd3bxHcsS
			uHGhSUM/SNpulBO8F9i6x1Vdtju+mzTQv4CB5HI+UgykOJDofmML
			nF9Qtc6OzPPyGqEI2uA9D6opVDFKkC2tO+7daSri/PzQbOZwlfbF
			EbowBMlcQ2gVFZFSBDNHMwQIXX+mWAtklxutR/4m/zJjZ5XvnC1v
			woMy1l6KTcCWknuVjMgs0HScNBVi5U/Y+HCRqB3fYpUodToipJfh
			0iGZGl+z/m4oYzqeXiF4t3Gr96181jmZw7XwpmyhUV3v8B7t4fvI
			DzTHVUi37QxVcRNRFYC/aLBTns0wPqv89UuhYO7uYEEv82+1OzeY
			n8WUNn4ulRkvI6DMi51pU5Qq2fXdgNecd0s1hCQ9dczoNSw/18nN
			ammfhPWCzp01nFY74UoOy0YNHuPmDGZ7wkTBee+n2DRzXfaA9vHS
			1HoBtKYbeuN7EmGn35dRb5XA7J2AkT+leJILcfCrHcGAC4U3jkrr
			vhXGKs019B0fowOccpJBbjHmZwdpb5xz2OxWwXoYAVVVvmMyFXZY
			j1VxwqVcxi2owwsUsVlzifUET51kOqJ/L78478rFERVuLKV0hSx2
			KqXRrXczd+R++cnAtGZ57PSmkOCxdduPjS1nA6GYCm6cNAqhl/w1
			B3x1BmwWGqOCH4u3TWJwZB3POdj7IbfJPshl8aI45WypAO41PEuE
			9HhJl72Q/yyAtKq8mFxFofA6D/2Fbr+2kxlAt9I/Dkjrvk4Rv/q4
			Zx9yur6oAWA7QAIwORWq71zNZiQvVZMfN8/QJFfs4fP31w746E54
			MH5vrKQ+CxDdKeSnQJVNX5bX3vjheGHS00p5MXgccW/4rZJvqQyn
			ELGFbZNM9SlLf3zg/0u3ZEr+3c33gSTGEGovHDGFx9PiriIZKyu3
			D7I8Jx6VzjQpVORTP38TqGhqHEs64UtLlvWUGyLW+YhatfRXdZhr
			w0RS6LcTdOxWtpNtrDxO65VmpvkMNWt45GYrvgQGRGXTBaLBnljw
			G604gK203pn6ypKwOtp5YhKyXL3QAm68YxwIP1igHQxH7P2BzFsy
			G/VuKsk63E1ULdY+UN4+LIrOJdNIgXn6qkbIcLBsfynAX8k8elIt
			2JZP+g0XrlXfLGO2KJVZPtDKPvv2Pa6KwPZYYNSn/Wfcwx5pdyaX
			PBWXptBXcryNRvExkesY5MV8q7jTUCn30UJ6uhLqDSNfi4sme33W
			Ey+gbL4Ngxf9jdWGIdm7CEFnxUfMAA0zk2ljjpGG0EWAFXP61Onr
			2iUj/JauqCNhQOiqG+dQIJlMMmfPNGRZBW8wWQojaE67Bn6yqyan
			mZcZftJzSTzE1HDstjzRcyGh1khjKnCyrgtdC/alt4I8CXy5sXnN
			uNfQ6bCefkIMlh85rTQ8CVK4yAvzTWtRZ7kKQLsfOcCUwRrX2ptG
			+xjBqfIpFrP1CBV/KwP1WOuOCojn+z39DjzcjGiK3qlD/bhfXJxu
			2MXiWQyoLIPiodiRdgc6CXmqr5hWiWnirHUTi9LVkh9ip4nAlfLT
			DF9Cl5Y/zOtm+ghwsgSAecO7kwdOBoZoAZ3xycvX1NlspnaWOSWy
			WuvzDxijjGQZJG4nvQBrp8pciEEWvPqvRqW+zjLQV/2v+fot9VbW
			A7d0uiAyrFE7Nny1aRumTaiJn+tEsl1aNoiNS32RZOOChXoD2uOb
			zuBKOUWpxUowGJvuc25e/YpoIMC5zYx8M9BVS+Sqk/nX8rYRWFNx
			vBJ/1WyxfIQ03cc60yMtKogw2pPYTqoObwZxsEPwdHTtD9egGfGa
			6CN3hwskzRfINYJfpyXBLHmma/QYgRBeC7ZtAbOovKI8nxVjjn6h
			9Rg5fBNo1duRjRvcfUghjjc6X+SNjQlVj9PyfHLsT3DqktV13v6A
			q0VLNFl+cCBf7x2Wh+AQWcCNCGhkZcd63SzGUbSFPMwq+9Rw60ZG
			7AT3Q7jDwNhl4YnbvF4m+dQPl2oTTOvfmgaihyiGMdXIsLGpO82p
			Bi3Kes0WYp99pTNXrOQBuBHlvoacc1puQYLIKA2x2OfYtXMQLOrr
			4DGIIcZ13JmdMtU5xmUD1bhx5ZjafQYh8nSWzcw/9tthv6paSYw5
			wHttsMywj1deeU0bVfgnQoeEl/Q0VnlOk+G8kd+e7rIxzaE4iUTi
			rRpGKuI6sYQP8tp/qfqpeVohLv2KI97UT8nHi7qSbxqWmFgYe5oj
			y3fRDjwQtPuncXKVsNYCMoPoq4d3R9jhsklXm/V3RNTLyD13VNuB
			ANGouisRoq1c5GE8I4NPUnZUCzrKRdyULnfqt3higL9d2lkX+nKi
			k4amg+6tebaAnbVC3cGW7bGv9xEXf0e4DtqgZWdAHNu8wKTL7DVH
			Cb0qPfC4tfJF+LyB6++I/iXrjk9jeU/mKfkwuB45zLRtO3ag6OzD
			Azzjwp33OhfRZ2XlDgds08+KsrdQTvVqmikgPqFZ44MtenshtHuu
			2+EfydW9jqqAyXTnUOY7n0vfzOQ9zFdf0THUS1rrvVbzyUmeLo2B
			tgiOUSlkdQHNsiHDuro15YQ/14M5jCNd6c9+mg4ir851c6rW7Xq+
			99ukX4PpJWep7ceqhw+c5XplMs4jitntVbH3hq4nZ28BGUnPTmZQ
			+seAuokjzPVAqbC091qYe6WhmbdxjD6s6Mybr6sCiwuU2qQDj33X
			SRo2XbKfGT9+7XX3Iu0770jHpF++zUCZIybUTxQd9ogXSnTyo+iP
			m/PqmdHucgUas3mJi/0Sj9k/8bub5bdutkGWmKJ+XvZvbXi6zQa8
			tKonbI9OQtB8amQyL/58UmG2GGHFTkf6KlCKRwJ9N3VtIJ88v3b5
			Uh4P92XU49hgV9HQo/bZJpawRg8ssYy0Y4ttfH+MG4a5n+n55L0W
			UW9Uba8LMbz4keuiUiWdNZd7wZ48inBie/ZTcFufS67rEIlr4nD7
			QNyoKLFMR3uj7v1vkDpYmOWVWf7KlcGKrnSzwmwHwVvSPXXBCw7m
			/qaSVFSINbTSRJO0Cj9i0YiatSvwJ64xOauMyUtC/T1eT9zmWhxX
			qJCVWgPxe4UWDFVcTLctF4GLddqZj/aPJwJQqt+p5vhNkbf+j9IR
			YP/aRLk0dmiysNrhzXF0EN4Ugg7Ezjj9ur8mTuv6y0JnXaY1/Mkk
			pY9N7KPNYSVoat9y4x3vKkGMOjPvV/k6TI1kod7dCjMmU45BmrPv
			tkZLMRK2jy04H+HJnd48fb6e90hPf2pDz8m2Rap6JM1hDt2yn26C
			lqy08LzA4sFL6CJ4eNkwp9VOmfCsT7RE+/eZbrtDS0IRUCRO/LRZ
			eq1V9U3IywWyP9ej/MntscnSojSay6W9FDwQM5miXcztFZu8aF3V
			bTeDsaT9yjYrDQ97aPthyVHttIBAcLjtw3gVkoQxe6JnZo3cP3Fw
			u7LHBWlLqRWMMi+5CR970i0JQRs6cDO7pUeTlQJHH2p/zudA/Nic
			5JPFfl5n1abg7l2SqWc6cy26ZzAFvB7wxkBmPyM0AefBSMcY9ieM
			f77veDg/3ViLmSa1kok0HWwbQqe1JAmtl6WYIvMZ5Tyxb1jLb/jn
			UF0HFzlkKoFDsjp6tKucy7lxeJpFEdsKwd4uY1LfbtOOsBWIM41n
			8Lr5ZaPl3PKXj6nTY3+xa0qkxMdU2Vn6ykjl2Xfv3PhZ935o1UPx
			in6g7Ej5M1yKmE6CFM49lokxobzOSrSGAR7rJdiZ/Rh0VELkM9Aq
			leG3pQaC0kcTfC/CzX/HH1qR96tlMiGRbhkjv2QjVCXoa9aMkn9q
			Eh/8bGASzivZwKJpPn+4Qub+LZDQW31SjNV89boAzMY0FBcDV6HF
			dvvtBH0DJrgOCcKhMarSypn1bUG8tfVKpMMb+dTX1DsthCDuYG2s
			vPiomDFPXxJNJ3z8I9PediDa7leKmh+M4E4Q8+hVge40z06zJd+J
			/bQ0zsogK+4QeTwu0ccwIhNNUIayl9dvudj7+9FxDual8X2fp2gx
			azykQqn8kn6b/voJlJT8lj3yovTlRMZCzgRuiEYaiWZwBf7p5Dus
			Eu0xlcD14Mn10s8Hgb5CEHMx+7bYkYANbJf3AQetVLF0o5zle3fz
			/RXtlFn8hRbLin96ZP7QlonvGMkadwP2uZ6W8kChr5BX2rR1zJFX
			V/LPuv4EhAJM6XqOZnLe1B+9LmtZZZ3yMe/aeNl0bIg7FqIvv+qr
			Pp7ovQB1jjazmCA8V/Osxg74/gMpHx8KMSafjyD9jUcRp6zbJhHO
			sJDMBAfhtXfQj2qRX2LcTTmPKqbdCNp8NcuEow//aE+/36WdNm4t
			0ZE3jyoXu7zLZFavuG2PUsCsD63lAlaro/mfsZ9Q8Sgo78L3owxi
			oq2etsfl9LgrDZq9o9w42KM5WP5YkrKL8rYwpFA7ZuDsxuBoAX/y
			7ruANSjnBfbN7S0uRePZq6olggVIcL+0rN6yeXtSFoDnTha1Wg+E
			Sqkn4T1S0k/6jME8ufsJC32nwvSHnr+eQRi2kvGbvhw9RZmZykVp
			7fFhTwX5BELXH3akWbE2v3NeG8ELi5drAv1/PoD/TfA/IoG1MxyG
			RLm6wJBOgP8Co8WZxwplbmRzdHJlYW0KZW5kb2JqCjE5IDAgb2Jq
			Cjc0MzUKZW5kb2JqCjE1IDAgb2JqCjc2NQplbmRvYmoKMTYgMCBv
			YmoKNjgzMwplbmRvYmoKMTcgMCBvYmoKNTMyCmVuZG9iagoyMCAw
			IG9iago8PCAvVHlwZSAvRm9udERlc2NyaXB0b3IgL0FzY2VudCA5
			NjkgL0NhcEhlaWdodCA4NjEgL0Rlc2NlbnQgLTI1MCAvRmxhZ3MK
			MzIgL0ZvbnRCQm94IFsgLTI4MiAtMjgxIDEwNDAgMTAwMCBdIC9G
			b250TmFtZSAvQlpaV01TK0NNUjEwIC9JdGFsaWNBbmdsZQowIC9T
			dGVtViA2OSAvTWF4V2lkdGggMTMyMiAvU3RlbUggMzEgL1hIZWln
			aHQgNjQ2IC9Gb250RmlsZSAxOCAwIFIKPj4KZW5kb2JqCjIxIDAg
			b2JqClsgNjgxIDMzMyAzMzMgMzMzIDMzMyAzMzMgMzMzIDYyNSAz
			MzMgMzMzIDMzMyAzMzMgMzMzIDMzMyAzMzMgNzIyIDMzMwozMzMg
			MzMzIDc1MCAzMzMgMzMzIDMzMyAzMzMgMzMzIDMzMyAzMzMgMzMz
			IDMzMyAzMzMgMzMzIDMzMyAzMzMgMzMzCjMzMyAzMzMgMjc4IF0K
			ZW5kb2JqCjEwIDAgb2JqCjw8IC9UeXBlIC9Gb250IC9TdWJ0eXBl
			IC9UeXBlMSAvQmFzZUZvbnQgL0JaWldNUytDTVIxMCAvRm9udERl
			c2NyaXB0b3IKMjAgMCBSIC9XaWR0aHMgMjEgMCBSIC9GaXJzdENo
			YXIgNjkgL0xhc3RDaGFyIDEwNSAvRW5jb2RpbmcgL01hY1JvbWFu
			RW5jb2RpbmcKPj4KZW5kb2JqCjI1IDAgb2JqCjw8IC9MZW5ndGgg
			MjYgMCBSIC9MZW5ndGgxIDIyIDAgUiAvTGVuZ3RoMiAyMyAwIFIg
			L0xlbmd0aDMgMjQgMCBSIC9GaWx0ZXIKL0ZsYXRlRGVjb2RlID4+
			CnN0cmVhbQp42u1yZViUbdstKSNISCqgDN2d0t0d0jEMAwwxAzND
			l3QpIR3SKN0g3Z2igIi0gCANQ4t8PM/7vt/ex/Md+9f+t4993X+u
			c63rXPc6g5leGQ5DGfq4Qfi5+Xn4xIHK2komWgacClr6osB7gJCZ
			WQEBAaGgcJgiCAURB4ryCvDx8okSMgMV4G4+CKiDIwpYKsDHJwiU
			c3Nzgdyjrm4eKAiCC6gGA/MAQTA7IBSFBLpAwRAYEo5AcgFBLi7A
			v/OQQAQECUF4Qux4CPn5gXZQMApoC3GAwgh5/zKlBrOHA1/8C7bz
			cPsP5QlBIO/dANnu3bHfK4Ds4DAXH6AdxP4+zcPFRRvkCgGy/eX/
			f7AgV6iLz7/5f9sEasHtIAjYP58aQ/4ujM0ABnIzcISj/slDkcpQ
			b4idLhQFdgTag1yQkH/hRrB7NRcoDKILR0L/ahqQ7x+EoSMU7AyD
			IJH/ZiD3DfqHzfva/zbJ+7/P4m9KFwT917D+I/uf4QH5/1esBUIh
			oN5Acz4ePj5+PuDf339fLf/xMyUYGG4HhTkABYRFgCAEAuRz/4r/
			PhIG+vEDofeuvYEQ7/sieXlgcNR9CvC+bQFAeziC8K+Z8AN55f5C
			CP9nCfLycG+gH7eAKJBbQPhek19AACgqzBfwfzJggLrfFRDC7r+B
			exof7IFAQGCov3fgvlOE/47tofebBoF4Q8CE3+bgYIkwp/SsDFQN
			Ve7guKJJm2ZLjgjAjcs7hNGh7DLBNCIefCWAZ4fvPLtArxJNlq32
			HKvQ7zQCzm63PZcw8ybXRd2ql9HoklQYGcwUuuqcGrOtYQ0sDcnb
			MrbzEKZMK38Ny5MVtjCSP0n7WljNVp70C899dda1C+NiNHvnJrd3
			da+GEGf27PREI93P0NUWlUatEnBA2q/M2POq/XvBY4StJ0k/0l5g
			uggq7eOeLdEvdSaIl1DMPaGJNqroJTuv7W9lSvT5LoLF/DIYZMRB
			6cgjLoLT1ffOmIYu/omo+eHzV/2eulgcI6UhIe/ia1epPRGEv0uT
			nxj8icY/ni8s9PsVI2gv7r3v8CzLF2eE2vYK2yCKSUY3hk/QYudm
			mluy1DKp1Oe1J248FBhG+/nSxLJ96LO5aQETDUl3rMn7GM1A94vR
			doqqJsXr8Gu2eNxjtK9ODiOPoWeWVTv2CaZfvkR8z/qjmvoYlnee
			sUUhDuqnV8sJIt8n/nj8zC9IL5yxJwFqdjbh2Sa4NOH769fUlo1G
			dS1h5fCiseap22MVDmeScvFy9VZEAHmk/KepWI1eReBrY5lyu29+
			e4ikqbvH3jdUvjPB7KHsG+K++G1hLGhhnPaSzPx4OTTp74G23cNj
			uyJCsUBKzj3PSQz3auggEScaFj401PZNQCOuTEKdbtQs8Wrqu1mp
			bwfbn+3S3DINzCAv8wRwqJcx3Weipsewc2tvblYRaeGNXHyzMKVX
			hv21JBXV32nQXg9eqxQ9t0V3c4FWVFonFkp/s29Ksts6C3lNSNTj
			dui0Ca5Ef8qKGW8gQ+z/FCu//vLMFX/xlXbqXmKAJfILx8YkH2lu
			bQNR6dQ2jvSnvjBNoKqxvUBUSoXqzfXGKI8GJ9Rg6dKBTpgpgNp1
			bQYvrIqoj937fKQJaD/9NW1oEuTfQNWEDwaNREQMTr5G9DwwRVt+
			4HEhoTnV+SnBllXsSEQgElcVaC1gBPBz3XsoBjCBwGkmvOYVsZ6P
			bBYL3FWxnfe7dmUIkjurm5eX6Ad7HHg9aUmkivCP/HbKEh2GxXvR
			oMjjwHa1GIOPgXmMEk9Kgx9CqYKGD0dJk6VN6wfq9gZ47WZV2a2r
			XugRRjWFzR/Zf2JVJf152CMUm998zCmOooOGRk81J7gzEiWwjaN0
			nW1oJfkuzzlf0Kg9HsjWJc+wsKA0X3IvZB5R0rpLYpzmuajg0Cx2
			VcZ6twCA13+yPiyw9Ki6IS/OXZGSM4l6ijkWERikKKwe8WZSQEei
			gWo80+xrN+ur7zlYXUZtqd/2j3I5tz9/BkSRuc+En1Eytb9uu1Ym
			TR68zZqWvv7zKHfWCnIr9rP1YpTLiF+JPo4YlHC4E7JuapDFL0z3
			lFX2aGH33URjMg/klokWvpn29CHm6W3oiOoGLu/cCo816A3IcByj
			hPLZhE1PEfJLSNs7cEAyi6wa2xy6lQRwnsEdPE7r+OE75GoPnkvi
			7jb1dlRmOKbxfXiyiFj8kOjyyCVYJF3OLL498Ug8AAOw3fozdnXB
			rKLdkTiHZSpzw9lx/BhP5PFbsZHTtdtAW6Uxo688uksM1tfr5Ysr
			bIxohiPfpSZ7H0F/Wj0gQpSyiIY1hf3juTkFCYZuw3ClzOODZj6n
			AVOBVml1k/DPUYiJH86ibpdKcmG1kST9FCy6vvQBEnsszU0Edd8U
			hmPEnm9qVn7d+Ka4kbQWNLhiTzWNER01cyHma/XpItMHoO4gnl49
			+gEsy9ZodaDguKv1c+Z2MsAyOQ2vK5bGeBO9EvfQSdJAX+EFYihp
			K6jrZGGFOzK19wd12njwU6J1yZI3Lhlpb1Kq1JU9HEXTZrn7xMJp
			Mj8vyYzMIRybjCiPNEq5DGWx22BaC6cUIbB6YtEunxqh7IpvFask
			v06bcnI6tepdFK3qNdrYmWY38602yHWaSDaE388Mt1AqYsDTB34j
			dnNfkYzzMZk4s+ZgXI2dBk+TLJMN8P1kGvLCrkRjzZ5tp3M+jiE1
			GdC8UElFz74J6K7dOjG1QB07ZfAJ9sStO4WT49ddLNup9DIUk+h7
			zXzX2VXz9hiQxFA3Dv1xKM2B++6aLpAtAGtF8EfgyY9dTTmhcL1n
			vpXkOxakMKq+32YAAcZS5k0i4I9UFtZi8glcSLZvvgnuxMPFkfcX
			Px7DigwXVxTXfXGRxcqbicghwjyM8j2tHKHU82fCJzyPoiiOBnEo
			tVxNKE76AuoLn52gzTCa1QHmrkUOpKdFf76uCmgEjfJiH7nnuT2K
			TY57t6ulre9nfHarn/4AaU7UMdOrOD3HSlZiiPOAcQuLr6AauzW2
			bG3d+GGWUk3cfE/8WeyBmAjW2/BUiQgOKngN4VmiZHZ9Osv8bpbW
			WT9bZ66BUFMzvWMtR/Ajj2/MTplPuKmywcQBwforq1eFm3HyBc+0
			Y0Z/AK3m8aZXLOBlC5RcXslFuY95Xv4gTIt79lvovZeg7nc/TIs3
			z+5cp9MqlNFZ28UUbc9zDrZU3ny0wevCiTr8U9AQ1Z2TuosJ6ql5
			iOtBHWDQg9VWIz38emLWIsffE9m17UD8q6uZE6rxZbnnUqkE4Jch
			WsArbPenxuQ5oVrJNUMm+NStZwy38pgjSdZe+RmFEoTgwMOgVJ1k
			uSzR8A/VKyBb1JG2TXfZzWUNRHW66eQmN5+FxZ4Or+0L2S+6GQd5
			2qURJWLfqKY+Vixmix3+u9M82Yv8/YE/YEY7TXp7fk+C5hrqdc8Y
			JQ9xaH3ZLgwHp2dy37OiMI7NlzJVl37+B6i/Y9g4HxLUthwCvjMJ
			383Y15K9q+jBWcBC2+NflFlef6is58OzR74cLnZ0DBIJHACrYBss
			voj5QYRJm0LNxqWcOO+lQuz42VzRmonmGsYq9Mm1iA73lqUbeBbt
			igl+6fayoOPgSi1Lqqslt/Oo2dUaloKVhfVeA6lM+p2Lf56kxl4Q
			Rh0j27ULY7fLDuadLEFzqQmVW7fOxKn48g7NxNXhTUudkhJBnMdq
			TyrnhyECse+ecflsrGzMbbgAWqZkXrFwqmtSjJ3GDdx5SGOFLpoa
			2V57PKWSwkyPUARg1oykTCEx51kMyPwkYlJlTPe/4ac6E988cSbx
			vTvWPO4ZfP2WzD/6QxVfFsifOIzNYM+CziGNg3RSCaMZRWK4fGhV
			RarWovEkT6GV/30pF0EznSxXrLWnkojPEj0GNU1eZYGH/J/dP/P2
			uPX97ycY+BHajSzu9aUXFwx7V49v8Us3aJjJIRvUJqqsZYgereNy
			fKSStXO+vJy3eIPbtVPLcYJ/k6aAbJj7fANAKpIN6ZwS2DxMLCt+
			1pOELBfT0VGitPCs45B7mZ0fqPVLOBWVsQFbFutN8Xu7Qbx4fQd3
			ueVxX/hkWG1pE0a9Yvp5kudFM6bAuOANwAgzUjNiY6/wWO2ry/G3
			EXb5VYXEgyXlESXtA0699Tx9FllAfmVngZ7GJmlSQzh4M5FMJZzA
			skaW59U8hn49d28ATuFC+5f3PokKgRIbJnMO+2lG6J4iPC2ML9xK
			Q3rNft45UguNj1j5csSyHzV21e2ALXfW6JH76q37GNvx/WHhhv1O
			mF/Zmw+0RkJefaXcl3eXDgFZyT3Nzpio44Of8R70PsZUpTMvYAea
			2sbmTDdVFn8NszplYqTPo6rPcrQo9S5eoixGTgaC4dNLfLCHn92g
			z10wRHgt8YGQ8T9YpgmvDSm2VsrkZJBBYRdcLyTIsOyP1Js9GTAJ
			sCFoy8bHvB7JD9KfDiKGzCYlZXqX4s5P76BCUbjzoULVIM0gRM/7
			RXpOuZG8EB6gT+2dHF1t3tWFSYcndO2WwGHYhIqG6V1Uop+2YnR3
			UnN68ainF/s2Rltu0kJ0DLWryK6JO9T240zPs/6kNfoL/QDV+Twe
			pw+RHFeupNrpD9vgDTDP44EXbb7jhp2snFQY7wVQBSR9RB3UBHQF
			paIhh/4l2LJWNBbXngJf86gp1EimhCLP2jR6u/CvLemdfsjTvtTN
			vf2gUc0dqZJU0m3JNuziRD0D4ERrtjC3qNJdqOKzv5QpaLxZVPe0
			dsgkvOropO/asIc3H/O3o2jITwoaYnSnd3mJjyj3qBqmwy15+OVd
			HzJ1aEyofGJxu4FHM5zjEtRL/bTs3qrd7Brl8Imn5WghP/bzcztW
			ZfPaYVSpq8HJYSvaWHnTSWkgkptYIJF/q/IIu1I8eAfNgHtWxT4C
			8aqtNWnjwX/QtGxKd5ARedzaGOZBOP9QKzUvFzucRpZLf8i5PsFG
			3qlg6fsQdKbjV4lT28ytSBqhKHkeZnGyZrqw0qvPF6LDe0e5O323
			3+xtXk6qB4HosB/cfNdU4SrUiTNRHBNPocnVe8Tw3OSKl21lgLX/
			SqBRP6z1TNxgFcP00pDqZJL9/Xj36sMbLPlnmC0denihUjsMZa5A
			ErX4lyiDO/3h2fG68oxw6CoBTl6elEmiQMKxiwT1jtYFl0YYC9/8
			y5RvZ7DDkyc5xqOCnsT9O7UBHy0GO3M/BoErq95UpEZomnsWT9GD
			4k/1Zj6GrhWilOL3bcoGL9GeeS2IUf86qciIJsmmyotabMAn6bsE
			FSPt4dWNnBe74nNc7JGLhqosqRrV+tXxk6rhaOM+1YiI22HE6zN3
			kZxDs1et2vyqL6TXaK6+k4Ae5ZE87/iT+9Zn2u1iEYYThMqJ9qsk
			fmJONlnvyLon3k2Zv+LtJBt+11nlkOKlZrsty/QSk41XNFQoy16a
			v/H6wvIUcvurI0OK0OEDI9e8I5ETlvp0W6ubGhsJS7nKAUk0vFog
			oVFifHvHtbvS2Ce9YH7h8FxRpQKiN49rUdSd9k7BxTlrfoy/EX5F
			4Piy6oA6zd0o7EFdSP9wFzgyKBXNGrg4FrERcybV1NvEJ+SPYk4D
			P/7UOSYBuMqNsGIPAFQy3srgb9o2twJESyOx9l4g1Cdvwk2mQzUs
			W08IKnnQee968wjk/OUIrMBQ8g+udq9jCaDsR1+Ss9EGJ+3lR2ai
			awZq7zKo4uffm2lEp6kddUn03g0hbRxy2yknzLDNPurt55hT+Kj6
			Y3vOx710UugYwBV71U+hZPbsO4/vHlhG1YT1i9beMhHe8weUEXl3
			b3ftjwh7n95SAa/F9xyfF1Pp3pn+4XE4D/1W691SlkX6oLO1iUMK
			IzZcrgybNinEcfhKQEIeee3x4gNgHzyf34nwP9FlabBxUiYeTdEY
			YzVmw5zKfWAiD1p1AVO7F7SnW3To7c7pX45ECGqTq8l45NKlSYvq
			vdKAutDC/+wYB5Xsm573F+S8VWbdn1ygfHSUnZuCp/1Jp69qvY2F
			xxaBYvCkWD+IkaRI577Sj/k4QvSFLE3PaIt7SMBBKXQCOqVWJbeF
			kCjaJPDxmyJ+cmDOTLy9aamuttmMmTm8GkWo7U03vBP99KjK0PDm
			Cya/k6pYxXNNRfJjJv6PgUJ82aQPE7rzqbI/lvX4czivLdkg9j1E
			1AYfXC9/ZPBgkP6wfIchyZwzXk9ympDnkDddRJmh0OoZsVacNUfN
			F6qxxflkuJqtAk+Qi/YhEXWtEHAc7VeMhY1bPkv84I2sXaPjbaue
			wew6A2W6cfcFz7DDux43mctTHWgOlt9nRg6/ds8X1sJ1ZWaepc3x
			87Jitg+G5FgBR3LJ1k87pImZ6rPGKULpAjYHWq3tDvPWVtusBx41
			cqrS/uYq0o9u7DheyHszzcjFnxqbrGeX+UZkOvtHXGT6PE5KSvB7
			AK7FgfZK01zrhz3q7SBBwFmCpE3vy3L0uP++ML3LYf6A10ZZteVy
			zTzpzwxNZKga/4zV7Jrh+R8sA3HJoK2IUFr7fRu3cg2KSrapBRuR
			CXtSTl4Zz9+NjH/onu2tFVUalYqFD7JgaMjdsvpWuZ4Hgy4Upa8D
			shOlYAq7Wmnhr044aMwrx7IHsFbKYSJzp/tAvCaivhctKI9Z5RFz
			yCCvWmNyPJTdtd5zWMNrb25RpeDMOTp1M2xLIEwpc9EXRLOrNWVz
			WWN0cPmWR7c+ngyDJRlj+cmkrpgbxmLdR2FBO81r26hJ1tG9XxFv
			DB/Xz2TxRVgzigRfOhfDWRtoo9Fi6CZNyzpf47FtgCM367ZosHN/
			3l4RJp4F50LvK0/l27nkSpn8Qt27KABRJD5aX58rwHfuccQz9BZm
			OtZh6t0wSkEOqbg3Tt08+p5h7nmML8VpCVyUV8SGvk62lK2zKNKw
			YTl9I3EHo+TncKCjIqDyC6ByvHvNaenR+enSTwLyJjHm16P+lqV+
			xbJjwU8feXYA7GfjvZOMA5SBRRNQpcEyyk6tiK9GTJdHHaB2uPPI
			WAdHDKs9jmnzbw23YNsaX5mAqh78S40PAOR+3C8+Ul5eKb9rPccx
			HYkjwrAL1s78wpjD8yffANjVAHa5gnaYSPbrvYRKWhGcPacKJDV7
			+RKaJopFrN5Dia7wS6suh/anBVhOjWob9e7cdwYuu5w16ghUY+yg
			Zdldk4e9MXtpE/xt7JySrHamEuFDC+0J84UPLEd4Qd+slv0FWwS4
			aNitqF3v5lPWy9yNj8rTyJiDlttK1rtCs3+SE7JxLwdix7oCttmS
			kzYNxf8c/0abbdGakXcOoWU8Pcai8CiEcwK0HeznPiysE1zl6Bla
			f5TcTYlvDC28Cz5cHMmesbEXmFrHzaNqRiKDalAmOfF3FQoUysa1
			dqHPJb0xnrbj3oi34L//XHFOUsHDpy7tr4LpjYXU05qMhH6d9Jvg
			6pSETlJ90a8XtPbwOT/KMlMu3sc5haO4KeH+9QQSUyBjB2yIIxPd
			whb/ivw7xsV2hCHuiMbEa04zL6mCZpbM8/jjbv6ZrdXiXDTzmsnu
			r/QrTlHjGL6Qn1yDYJPjKK+gB7yjMCcrVR+cE9C69ploJgtT++8+
			bKFL1hAhtkkTyiy6uoQFPVzKKafRs27S2tfXhqc/k37gVnP9GCYn
			UxYiphRN+6kaYd7iMuiuCmKg7PVm6gf5O+h9olSk1yvMz3K7c9b1
			8fmkaMBtrgbaPvHnFbGYGxmbnSO3EtK3iVuVfsiy8gzwBRsjP9Jg
			0Vrb7NSYP/iik9d8b1J43cmaz78vVZZzPN/3dUWEBA/sydiiSOdU
			3RMnG4m6D+Z06frMto7DT2JeFOL7ZZbT+XmMIgoahvQ1JM1AA/ta
			U0kMAwn26aLfvuq87gVySepoMFE6KcTzq7HUESu9DAO8bbM5cwlg
			3+MRrq1OY33x1s+YQ/GWLqen1/tsOvFzQ2P3Jv6R2tdhsJEUMpLs
			qiPlV6ssovRrmBSaGsP4Inqz06hMUi9KxbdpWqaBNXOAmNqvBv9H
			n2nqr7PPbosdI23MuF2Mh49NlU32oUhX48n9GiKpMuz6Q3JYF3ze
			ObFv5hFg6kcavY5xmKSdq9KApvpb1gnvpudKo9gI5oh52kO9XIuH
			R3Xv1vUpIxWwWRhvyEw+SYzzz9L+ns1egcBfjM2UFuHpr7iXCNQY
			OBZPdJO5SyWf/jaIJ0ukHs8W5Eflcnk/8SNMdrvwhGlPamPz0DsP
			Mjx52yZeq7QcKEG31/rFtIqEsHVJ8DzkS9XpeomYVMFp5KPt/fdY
			3jekbv5WizghQsyR5Mx0mo+ZB1RKJ+mP45YX1yQhBIpvbx95TDQz
			2OqidrLpILYcOAOBy3ZYaRzPr9LI2vTPxbdsDo9Dnj2/HpdUxy2j
			jGyEfA8E25vPzeOyzSzsGtUZenysXsPkPnhZlEShbNZYkoGl6aUZ
			x/ZNnDJExZRKLBM/1/dHz1J1TfNOEFl85txbhlX5jIGono9YnTMl
			tqz1AGPsIoxVuRnZQ7gT3vTdzwLLSV8FSS3z3fPhpSEc4Tmt3iKA
			N5teL1cVcyYBqv7x8evE3IPhFtnL9s1VEnKXpqjvE89tWJNadJkP
			I44xw0+bscpiNSQlh3UC5BPRaqtUeURhSyzTAt1OGNC2scCjaSxD
			awP/1yS81B9lVL5l3tLkT103zsW0RjVEN2wBFVQ9ZrMfYjzlohgv
			qtWW5wBWCVYf1X9muDJObsf06RsoS6By6YNp/6yaJ6RN99Q+1Q9/
			bO3VwMn0RrZa2tblpgORHdxuKDBjPntur2le9F0wkg+zH/qzXLVO
			qfv362AetgfKmVMlHK/EvMFoit4nxiRMhDjWRNEB8ED+wbu2j8Jv
			ttY5VG1kwnmJB7QvmV3AbSgpM4Dy0qpDFqlbL++A7AvVB79qW0Nu
			Ul4VpKQlKv8y01GyKD+78kBBiLi3dFI5NJvwiOPFJP+MI9Y/cHV1
			PFv60qdW+Q5B2lktqSWQPpEojHsR3difSrkpyLk5thimZBV/u5Wx
			vLOZEUj8WwBfRZ9/0Xl2weoBF+AL3UayLetFg3Z6mWac9wG7oPoO
			63QjqMrlqt1NNL6Fzhf2yZOU1JZea+bDx1BYs84RJntGbSPf/+Uh
			/P8C/08IgF0gIAQK7gpCOBP+F/1NTxYKZW5kc3RyZWFtCmVuZG9i
			agoyNiAwIG9iago2ODAxCmVuZG9iagoyMiAwIG9iago3MDUKZW5k
			b2JqCjIzIDAgb2JqCjYyMjgKZW5kb2JqCjI0IDAgb2JqCjUzMgpl
			bmRvYmoKMjcgMCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNjcmlwdG9y
			IC9Bc2NlbnQgNzUwIC9DYXBIZWlnaHQgNjY3IC9EZXNjZW50IC0y
			NTAgL0ZsYWdzCjMyIC9Gb250QkJveCBbIC01OCAtMjgxIDExNTMg
			NzgxIF0gL0ZvbnROYW1lIC9GTkVYTVMrQ01SNyAvSXRhbGljQW5n
			bGUKMCAvU3RlbVYgNzkgL01heFdpZHRoIDEyMTEgL1N0ZW1IIDM2
			IC9YSGVpZ2h0IDUwMCAvRm9udEZpbGUgMjUgMCBSCj4+CmVuZG9i
			agoyOCAwIG9iagpbIDg0MyBdCmVuZG9iagoxMSAwIG9iago8PCAv
			VHlwZSAvRm9udCAvU3VidHlwZSAvVHlwZTEgL0Jhc2VGb250IC9G
			TkVYTVMrQ01SNyAvRm9udERlc2NyaXB0b3IKMjcgMCBSIC9XaWR0
			aHMgMjggMCBSIC9GaXJzdENoYXIgNjUgL0xhc3RDaGFyIDY1IC9F
			bmNvZGluZyAvTWFjUm9tYW5FbmNvZGluZwo+PgplbmRvYmoKMjkg
			MCBvYmoKPDwgL0NyZWF0b3IgKExhVGVYaVQpIC9DcmVhdGlvbkRh
			dGUgKEQ6MjAwNzA3MjAxODQ2MjMrMDInMDAnKSAvTW9kRGF0ZQoo
			RDoyMDA3MDcyMDE4NDYyMyswMicwMCcpIC9Qcm9kdWNlciAoTWFj
			IE9TIFggMTAuNC4xMCBRdWFydHogUERGQ29udGV4dCkKPj4KZW5k
			b2JqCm9iaiAvRW5jb2RpbmcgL01hY1JvbWFuRW5jb2RpbmcgPDwK
			L1ByZWFtYmxlIChFU2Fubm9wRVNzbGFzaGRvY3VtZW50Y2xhc3Nb
			MTBwdF1FU2xlZnRicmFja2FydGljbGVFU3JpZ2h0YnJhY2sKRVNz
			bGFzaHVzZXBhY2thZ2VFU2xlZnRicmFja2NvbG9yRVNyaWdodGJy
			YWNrICVwb3VyIGxhIGNvdWxldXIKRVNzbGFzaHVzZXBhY2thZ2VF
			U2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVT
			c2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdo
			dGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVT
			bGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXV0aWxlIHBv
			dXIgdGFwZXIgZGlyZWN0ZW1lbnQgbGVzIGNhcmFjdI9yZXMgYWNj
			ZW50dY5zCkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1ibGUgKEVT
			YW5ub2VwJTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQlN0JhcnRp
			Y2xlJTdEJTBBJTVDdXNlcGFja2FnZSU3QmNvbG9yJTdEJTIwJTI1
			cG91ciUyMGxhJTIwY291bGV1ciUwQSU1Q3VzZXBhY2thZ2UlN0Jh
			bXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTdC
			YW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU1
			QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXV0aWxlJTIwcG91
			ciUyMHRhcGVyJTIwZGlyZWN0ZW1lbnQlMjBsZXMlMjBjYXJhY3Ql
			QzMlQThyZXMlMjBhY2NlbnR1JUMzJUE5cyUwQUVTYW5ub2VwZW5k
			KQovU3ViamVjdCAoRVNhbm5vdEVTc2xhc2hjZW50ZXJpbmdFU3Ns
			YXNoTGFUZVhFU3NsYXNoRVNzbGFzaCBpVEVTYW5ub3RlbmQpCi9F
			c2NhcGVkU3ViamVjdCAoRVNhbm5vZXMlNUNjZW50ZXJpbmclNUNM
			YVRlWCU1QyU1QyUyMGlURVNhbm5vZXNlbmQpCi9UeXBlIChFRXR5
			cGUyRUV0eXBlZW5kKQovQ29sb3IgKEVFY29sMC4wMDAwMDAgMC4w
			MDAwMDAgMC4wMDAwMDAgMS4wMDAwMDBFRWNvbGVuZCkKL0JLQ29s
			b3IgKEVFYmtjMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAwMDAgMS4w
			MDAwMDBFRWJrY2VuZCkKL1RpdGxlIChFRXRpdGxlRUV0aXRsZWVu
			ZCkKL01hZ25pZmljYXRpb24gKEVFbWFnNzIuMDAwMDAwRUVtYWdl
			bmQpCi9CYXNlbGluZSAoRUViYXMwLjAwMDAwMEVFYmFzZW5kKQo+
			PiBlbmRvYmoKeHJlZgowIDMwCjAwMDAwMDAwMDAgMDAwMDAgbiAK
			MDAwMDAwMDEzNyAwMDAwMCBuIAowMDAwMDAwMDIyIDAwMDAwIG4g
			CjAwMDAwMDAyNDkgMDAwMDAgbiAKMDAwMDAwMDExOSAwMDAwMCBu
			IAowMDAwMDAwMzE0IDAwMDAwIG4gCjAwMDAwMDA3MzYgMDAwMDAg
			biAKMDAwMDAwMTcxMyAwMDAwMCBuIAowMDAwMDAwNzE3IDAwMDAw
			IG4gCjAwMDAwMDE2NzcgMDAwMDAgbiAKMDAwMDAwOTg4OCAwMDAw
			MCBuIAowMDAwMDE3MzE3IDAwMDAwIG4gCjAwMDAwMDA4NDggMDAw
			MDAgbiAKMDAwMDAwMTY1NyAwMDAwMCBuIAowMDAwMDAxNzk2IDAw
			MDAwIG4gCjAwMDAwMDk0MjYgMDAwMDAgbiAKMDAwMDAwOTQ0NiAw
			MDAwMCBuIAowMDAwMDA5NDY3IDAwMDAwIG4gCjAwMDAwMDE4NDYg
			MDAwMDAgbiAKMDAwMDAwOTQwNSAwMDAwMCBuIAowMDAwMDA5NDg3
			IDAwMDAwIG4gCjAwMDAwMDk3MjAgMDAwMDAgbiAKMDAwMDAxNzAw
			MiAwMDAwMCBuIAowMDAwMDE3MDIyIDAwMDAwIG4gCjAwMDAwMTcw
			NDMgMDAwMDAgbiAKMDAwMDAxMDA1NiAwMDAwMCBuIAowMDAwMDE2
			OTgxIDAwMDAwIG4gCjAwMDAwMTcwNjMgMDAwMDAgbiAKMDAwMDAx
			NzI5MyAwMDAwMCBuIAowMDAwMDE3NDgzIDAwMDAwIG4gCnRyYWls
			ZXIKPDwgL1NpemUgMzAgL1Jvb3QgMTQgMCBSIC9JbmZvIDI5IDAg
			UiAvSUQgWyA8NGY5ZmVkM2UzMTRlMDJjNWIxNjJjYWIwNjEwZDU5
			Njk+Cjw0ZjlmZWQzZTMxNGUwMmM1YjE2MmNhYjA2MTBkNTk2OT4g
			XSA+PgpzdGFydHhyZWYKMTg3ODIKJSVFT0bULS4OLzAxMjNfEA9O
			U0F0dHJpYnV0ZUluZm9cTlNBdHRyaWJ1dGVzWE5TU3RyaW5ngCaA
			B4AogAZvEM0AXABkAG8AYwB1AG0AZQBuAHQAYwBsAGEAcwBzAFsA
			MQAwAHAAdABdAHsAYQByAHQAaQBjAGwAZQB9AAoAXAB1AHMAZQBw
			AGEAYwBrAGEAZwBlAHsAYwBvAGwAbwByAH0AIAAlAHAAbwB1AHIA
			IABsAGEAIABjAG8AdQBsAGUAdQByAAoAXAB1AHMAZQBwAGEAYwBr
			AGEAZwBlAHsAYQBtAHMAcwB5AG0AYgB9ACAAJQBtAGEAdABoAHMA
			CgBcAHUAcwBlAHAAYQBjAGsAYQBnAGUAewBhAG0AcwBtAGEAdABo
			AH0AIAAlAG0AYQB0AGgAcwAKAFwAdQBzAGUAcABhAGMAawBhAGcA
			ZQBbAHUAdABmADgAXQB7AGkAbgBwAHUAdABlAG4AYwB9ACAAJQB1
			AHQAaQBsAGUAIABwAG8AdQByACAAdABhAHAAZQByACAAZABpAHIA
			ZQBjAHQAZQBtAGUAbgB0ACAAbABlAHMAIABjAGEAcgBhAGMAdADo
			AHIAZQBzACAAYQBjAGMAZQBuAHQAdQDpAHMACtINDjY5ojc4gAiA
			I4Al0w07DjxARFdOUy5rZXlzoz0+P4AMgA6AH6NBQkOACYAKgAuA
			IldOU0NvbG9yXxAQTlNQYXJhZ3JhcGhTdHlsZVZOU0ZvbnTTSUoO
			S0xNVU5TUkdCXE5TQ29sb3JTcGFjZUwwLjUgMC41IDAuNQAQAYAN
			0k9QUUVYJGNsYXNzZXNaJGNsYXNzbmFtZaJFUlhOU09iamVjdNNU
			VQ5WV1haTlNUYWJTdG9wc1tOU0FsaWdubWVudIAPEASAHtINDloR
			rFtcXV5fYGFiY2RlZoAQgBKAE4AUgBWAFoAXgBiAGYAagBuAHIAd
			0mkOamtaTlNMb2NhdGlvbiJB4AAAgBHST1BtbqJuUllOU1RleHRU
			YWLSaQ5wayJCYAAAgBHSaQ5zayJCqAAAgBHSaQ52ayJC4AAAgBHS
			aQ55ayJDDAAAgBHSaQ58ayJDKAAAgBHSaQ5/ayJDRAAAgBHSaQ6C
			ayJDYAAAgBHSaQ6FayJDfAAAgBHSaQ6IayJDjAAAgBHSaQ6LayJD
			mgAAgBHSaQ6OayJDqAAAgBHST1CRkqKSUldOU0FycmF50k9QlEai
			RlLUlpcOmJmam5xWTlNTaXplVk5TTmFtZVhOU2ZGbGFncyJBQAAA
			gCCAIRAQVk1vbmFjb9JPUJ9HokdS0k9QoaKiolJcTlNEaWN0aW9u
			YXJ50w07DqSoRKMePj+AJIAOgB+jQUJDgAmACoALgCLTrkoOr7BN
			V05TV2hpdGVCMAAQA4AN0k9Qs7SjtJJSXk5TTXV0YWJsZUFycmF5
			0rYOt7hXTlMuZGF0YUkdAAEBIwCMAQGAJ9JPULq7o7u8Ul1OU011
			dGFibGVEYXRhVk5TRGF0YdJPUL6/or9SXxASTlNBdHRyaWJ1dGVk
			U3RyaW5n0y4OL8Eyw4ArgCiAKl8QFVxjZW50ZXJpbmdcTGFUZVhc
			XCBpVNMNOw7GyUSiPx6AH4AkokNBgAuACYAi0g7Oz9BXTlMudGlt
			ZYAtI0GoojzdcvcK0k9Q0tOi01JWTlNEYXRl0k9Q1dai1lJbSGlz
			dG9yeUl0ZW0ACAARABsAJAApADIARABJAEwAUQBTAIUAiwCQAJsA
			ogCkAKYAqADBAMcA2QDjAOkA8gD3AP8BCAEQARsBIAEiASQBLQEv
			ATgBOgE8AT4BQAFCAUQBRgFNTaVNrk3ATc1N1k3YTdpN3E3eT3tP
			gE+DT4VPh0+JT5BPmE+cT55PoE+iT6ZPqE+qT6xPrk+2T8lP0E/X
			T91P6k/3T/lP+1AAUAlQFFAXUCBQJ1AyUD5QQFBCUERQSVBWUFhQ
			WlBcUF5QYFBiUGRQZlBoUGpQbFBuUHBQdVCAUIVQh1CMUI9QmVCe
			UKNQpVCqUK9QsVC2ULtQvVDCUMdQyVDOUNNQ1VDaUN9Q4VDmUOtQ
			7VDyUPdQ+VD+UQNRBVEKUQ9REVEWURtRHVEiUSVRLVEyUTVRPlFF
			UUxRVVFaUVxRXlFgUWdRbFFvUXRRd1GEUYtRj1GRUZNRlVGZUZtR
			nVGfUaFRqFGwUbNRtVG3UbxRwFHPUdRR3FHmUehR7VHxUf9SBlIL
			Ug5SI1IqUixSLlIwUkhST1JSUlRSVlJZUltSXVJfUmRSbFJuUndS
			fFJ/UoZSi1KOAAAAAAAAAgEAAAAAAAAA1wAAAAAAAAAAAAAAAAAA
			Upo=
			</data>
			<key>bundleId</key>
			<string>fr.club.ktd.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.png</string>
		<string>image3.pdf</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Plus</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Modèle</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>LaTeXiT</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Reflet blanc</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Noir</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Dégradé vert</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Calque 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Modèle 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2007-07-25 16:39:10 +0200</string>
	<key>Modifier</key>
	<string>Mael Hilléreau</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerOpen</key>
		<true/>
		<key>DrawerTab</key>
		<string>Layers</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{219, 287}, {764, 874}}</string>
		<key>VisibleRegion</key>
		<string>{{-113, 9}, {749, 760}}</string>
		<key>Zoom</key>
		<real>1</real>
	</dict>
</dict>
</plist>
