<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>leq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>geq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nleq</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ngeq</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>leqslant</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>geqslant</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nleqslant</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ngeqslant</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>prec</string>
		</dict>
		<dict>
			<key>name</key>
			<string>succ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nprec</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nsucc</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>preceq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>succeq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>npreceq</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nsucceq</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>subset</string>
		</dict>
		<dict>
			<key>name</key>
			<string>supset</string>
		</dict>
		<dict>
			<key>name</key>
			<string>subseteq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>supseteq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqsubset</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqsupset</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqsubseteq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqsupseteq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nsubseteq</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nsupseteq</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lesssim</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gtrsim</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ll</string>
		</dict>
		<dict>
			<key>name</key>
			<string>gg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lll</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ggg</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sim</string>
		</dict>
		<dict>
			<key>name</key>
			<string>approx</string>
		</dict>
		<dict>
			<key>name</key>
			<string>simeq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>neq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>asymp</string>
		</dict>
		<dict>
			<key>name</key>
			<string>doteq</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cong</string>
		</dict>
		<dict>
			<key>name</key>
			<string>equiv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>in</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ni</string>
		</dict>
		<dict>
			<key>name</key>
			<string>notin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>models</string>
		</dict>
		<dict>
			<key>name</key>
			<string>vdash</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dashv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bot</string>
		</dict>
		<dict>
			<key>name</key>
			<string>top</string>
		</dict>
		<dict>
			<key>name</key>
			<string>propto</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ltimes</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>rtimes</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bowtie</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nmid</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>parallel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>nparallel</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>relations</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
