<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>pm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>mp</string>
		</dict>
		<dict>
			<key>name</key>
			<string>times</string>
		</dict>
		<dict>
			<key>name</key>
			<string>div</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ast</string>
		</dict>
		<dict>
			<key>name</key>
			<string>star</string>
		</dict>
		<dict>
			<key>name</key>
			<string>setminus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>circ</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bullet</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cdot</string>
		</dict>
		<dict>
			<key>name</key>
			<string>diamond</string>
		</dict>
		<dict>
			<key>name</key>
			<string>triangleleft</string>
		</dict>
		<dict>
			<key>name</key>
			<string>triangleright</string>
		</dict>
		<dict>
			<key>name</key>
			<string>unlhd</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>unrhd</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigtriangleup</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigtriangledown</string>
			<key>requires</key>
			<string>amssymb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>vee</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wedge</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cup</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cap</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqcup</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sqcap</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oplus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ominus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>otimes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oslash</string>
		</dict>
		<dict>
			<key>name</key>
			<string>odot</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bigcirc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>uplus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>amalg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dagger</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ddagger</string>
		</dict>
		<dict>
			<key>name</key>
			<string>propto</string>
		</dict>
	</array>
	<key>author</key>
	<string>Pierre Chatelier</string>
	<key>name</key>
	<string>binary-operators</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
