<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
			<string>com.apple.cocoa.string</string>
			<string>com.apple.cocoa.url</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>LaTeXiT</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>equationFilesDestination</key>
		<string>0</string>
		<key>equationType</key>
		<string>0</string>
		<key>fontColorData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2ZXJYJG9i
		amVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJjaGl2ZXKjCwwTVSRu
		dWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNwYWNlVU5TUkdCgAIQAUYwIDAg
		MADSFBUWF1gkY2xhc3Nlc1okY2xhc3NuYW1lohcYV05TQ29sb3JYTlNPYmpl
		Y3QIERofKTI3Oj9BU1ddZGt4foCCiY6XoqWtAAAAAAAAAQEAAAAAAAAAGQAA
		AAAAAAAAAAAAAAAAALY=
		</data>
		<key>fontSize</key>
		<string>36</string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>(* AMDInput text to further explain the types accepted as input goes here. (optional) *)</string>
		<key>AMDNote</key>
		<string>(* AMDNote text goes here. (optional) *)</string>
		<key>AMDOptions</key>
		<string>(* AMDOptions text to further explain configuration options in the UI goes here. (optional) *)</string>
		<key>AMDRelatedActions</key>
		<string>(* AMDRelatedActions bundle ids go here. (optional) *)</string>
		<key>AMDRequires</key>
		<string>(* AMDRequires text to explain anything outside of Automator required for the action's operation, e.g. a web page open in Safari, goes here. (optional) *)</string>
		<key>AMDResult</key>
		<string>(* AMDResult text to further explain the types provided as output goes here. (optional) *)</string>
		<key>AMDSummary</key>
		<string>(* AMDSummary text to explain what your action does goes here. *)</string>
		<key>AMDWebsite</key>
		<string>(* AMDWebsite URL to additional information or documentation for the action goes here. (optional) *)</string>
	</dict>
	<key>AMIconName</key>
	<string>LaTeXiT</string>
	<key>AMKeywords</key>
	<array>
		<string>LaTeXiT</string>
		<string>PDF</string>
		<string>LaTeX</string>
		<string>equation</string>
	</array>
	<key>AMName</key>
	<string>CreateEquations</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array>
		<dict>
			<key>Display Name</key>
			<string>LaTeXiT</string>
			<key>Resource</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>Type</key>
			<string>application</string>
			<key>Version</key>
			<string>2.8.0</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>CreateEquations 2.14.6, Copyright © 2005-2020, Pierre Chatelier, All Rights Reserved</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2005-2020, Pierre Chatelier, All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>Automator_CreateEquations</string>
</dict>
</plist>
